<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<h1>
  {{ coreCourses.description }}
  <br />
  {{ secondCourse.description }}
  <br />
  {{ thirdCourse.title }}
</h1>

<div class="courses">
  <table>
    <tr style="padding: 5px">
      <td style="padding: 5px">
        <course-card (courseSelected)="catchEventEmitter($event)" [e3terefbeya]="coreCourses"></course-card>
      </td>
      <td style="padding: 5px">
        <course-card  (courseSelected)="catchEventEmitter($event)"  [e3terefbeya]="thirdCourse"></course-card>
      </td>
    </tr>
  </table>
  <course-card  (courseSelected)="catchEventEmitter($event)" [e3terefbeya]="secondCourse"></course-card>
</div>
